<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" id="username" class="form-control" formControlName="username">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" id="email" class="form-control" formControlName="email">
        </div>
        <div *ngFor="let gender of genders" class="form-check">
          <input class="form-check-input" type="radio" name="gender" [value]="gender" id="{{ gender }}">
          <label class="form-check-label" for="{{ gender }}">
            {{ gender }}
          </label>
        </div>
        <button class="btn btn-primary mt-3" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>